.menu-bar {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.menu-bar span,
.menu-bar span:before,
.menu-bar span:after {
	width: 100%;
	position: absolute;
	height: 10px;
	background: #333;
	display: block;
	transition: 0.3s;
	border-radius: 5px;
}

.menu-bar span:before {
	content: "";
	top: -20px;
	transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-bar span {
	top: 20px;
}

.menu-bar span:after {
	content: "";
	bottom: -20px;
	transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-bar span.active:before {
	content: "";
	top: 0px;
	transform: rotate(45deg);
	transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.menu-bar span.active:after {
	content: "";
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0, 1.55);
}

.menu-bar span.active {
	background: rgba(255, 255, 255, 0);
}

ul {
	padding: 0;
	text-align: center;
	list-style: none;
}

.menu__item {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

.menu {
	width: 300px;
	height: auto;
	color: #ccc;
	padding: 10px;
	position: absolute;
	left: -320px;
	transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu.animate {
	left: 0;
}
.menu-bar {
	display: none;
}
.menu {
	display: none;
}

@media (max-width: 380px) {
	.menu {
		width: 220px;
	}
}
@media (max-width: 912px) {
	.slider__arrow {
		padding-bottom: 20px;
	}
	.header__inner {
		margin-bottom: 70px;
	}
	.header__logo {
		margin: 0 auto;
		margin: 200px auto 0;
	}
	.navigation {
		display: none;
	}
	.menu-bar {
		display: grid;
	}
	.menu {
		display: grid;
	}
}
