.description {
	background-color: #f3f3f3;
}
.description__header {
	text-align: center;
	margin: 0 auto;
}
.description__title {
	color: #333b46;
	font-family: "Source Sans Pro";
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-top: 80px;
}
.description__text {
	margin: 0 auto;
	margin-top: 40px 0 40px;
	max-width: 645px;
	color: #81868e;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.7px;
	margin-bottom: 60px;
}
.description__wrapper {
	display: flex;
	justify-content: center;
}
.description__link {
	margin: 0 30px 60px 0;
}
.description__sub--wrapper {
	margin: 0px 140px;
	display: flex;
}
.description__block {
	max-width: 320px;
	text-align: left;
	float: left;
	span {
		color: #19bd9a;
		font-family: "Open Sans - Bold", sans-serif;
		font-weight: 700;
		letter-spacing: 0.8px;
		&:nth-child(2) {
			color: #636971;
			font-family: "Open Sans - Bold", sans-serif;
			font-weight: 700;
			letter-spacing: 0.8px;
		}
	}
}
.description__block--tho {
	margin-left: 50px;
	max-width: 620px;
	margin-top: 25px;
}
.description__sub--title {
	color: #464646;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.8px;
}
