@media (max-width: 1224px) {
	.bouncy__wrapper {
		display: block;
		margin: 80px 0;
		padding: 0 15px;
	}
	.description__sub--wrapper {
		margin: 0;
		display: flex;
	}
	.slider__title {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.slider__text {
		max-width: 405px;
		font-size: 14px;
	}
	.bouncy__photo {
		margin-top: 30px;
	}
}
@media (max-width: 768px) {
	.description__sub--title {
		margin: 30px 10px;
		text-align: center;
	}
	.slider__arrow {
		display: none;
	}

	.description__sub--wrapper {
		margin: 0;
		display: block;
	}
	.slider__title {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.slider__text {
		display: block;
		max-width: 205px;
		font-size: 12px;
	}
	.bouncy__photo {
		margin-top: 30px;
	}
	.description__block--tho {
		margin: 0;
	}
	.description__text {
		text-align: center;
		margin: 30px 10px;
	}
	.description__text--tho {
		text-align: center;
		margin-top: 0;
	}
	.bouncy__wrapper {
		text-align: center;
	}
}

@media (max-width: 319px) {
	.bouncy__photo {
		display: none;
	}
}

