@import "_header";
@import "_container";
@import "_slider";
@import "_button";
@import "_bouncy";
@import "_description";
@import "_media";
@import "_burger";

body {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

.fool__stak {
	height: 750px;
	width: 100%;
	background: url("../img/slider-bg.jpg") center center / cover no-repeat;
	background-attachment: fixed;
}
